settings:
  strict: true
  allow_imports: true
  allow_target: false
  allowed_import_prefixes:
    - model_constructor.
    - offline_trainer.
    - extensions.

metrics: []
scheduler: null

data:
  _type_: data.random_regression
  batch_size: 32
  steps_per_epoch: 20
  val_steps_per_epoch: 5
  x_shape: [32]
  y_shape: [16]

io:
  _type_: io.mapping
  model_kwargs: {x: [x]}
  targets: {y: [y]}

loss:
  _type_: loss.torch
  fn: {_type_: nn.MSELoss}

optimizer:
  _type_: optim_factory.torch
  type: optim_cls.AdamW
  kwargs: {lr: 1.0e-3}

trainer:
  _type_: trainer.default
  max_epochs: 2
  grad_accum_steps: 1
  log_every_n_steps: 10
  val_every_n_epochs: 1

loggers:
  - _type_: log.stdout
    every_n_steps: 10

callbacks:
  - _type_: cb.model_checkpoint
    save_dir: ${run.out_dir}/checkpoints
    save_last: true
    every_n_steps: 10
