launch-xml==3.4.9
joint-state-publisher-gui==2.4.0
diagnostic-updater==4.2.6
ament-uncrustify==0.17.3
sensor-msgs-py==5.3.6
ros2topic==0.32.6
builtin-interfaces==2.0.3
ros2lifecycle==0.32.6
angles==1.16.1
launch-param-builder==0.1.1
shape-msgs==5.3.6
dynamixel-sdk==3.8.4
nav-msgs==5.3.6
trajectory-msgs==5.3.6
resource-retriever==3.4.4
rosidl-runtime-py==0.13.1
ament-cppcheck==0.17.3
rosidl-parser==4.6.6
rosidl-generator-type-description==4.6.6
domain-coordinator==0.12.0
python-qt-binding==2.2.2
ros2param==0.32.6
tf2-kdl==0.36.16
rosidl-typesupport-introspection-cpp==4.6.6
ros2cli==0.32.6
message-filters==4.11.9
control-msgs==5.5.0
rosidl-pycommon==4.6.6
rmw-dds-common==3.1.0
osrf-pycommon==2.1.7
visualization-msgs==5.3.6
tf2-ros-py==0.36.16
service-msgs==2.0.3
topic-tools-interfaces==1.3.3
map-msgs==2.4.1
unique-identifier-msgs==2.5.0
tf2-geometry-msgs==0.36.16
type-description-interfaces==2.0.3
std-msgs==5.3.6
rcutils==6.7.4
rosidl-typesupport-introspection-c==4.6.6
action-msgs==2.0.3
rpyutils==0.4.2
rosidl-adapter==4.6.6
actionlib-msgs==5.3.6
octomap-msgs==2.0.1
rclpy==7.1.6
stereo-msgs==5.3.6
rosgraph-msgs==2.0.3
rosidl-cmake==4.6.6
tf2-msgs==0.36.16
graph-msgs==0.2.0
laser-geometry==2.7.2
ros2node==0.32.6
rosidl-typesupport-fastrtps-cpp==3.6.2
pal-statistics==2.7.0
ros2action==0.32.6
ros2doctor==0.32.6
diagnostic-msgs==5.3.6
ament-cmake-test==2.5.4
statistics-msgs==2.0.3
launch-yaml==3.4.9
joint-state-publisher==2.4.0
ros2service==0.32.6
sensor-msgs==5.3.6
ament-index-python==1.8.1
ros2pkg==0.32.6
ros2run==0.32.6
controller-manager==4.39.2
srdfdom==2.0.7
moveit-configs-utils==2.12.3
ament-pep257==0.17.3
ament-cpplint==0.17.3
launch-ros==0.26.10
ros2interface==0.32.6
moveit-msgs==2.6.0
ament-lint==0.17.3
ros2multicast==0.32.6
rosidl-generator-cpp==4.6.6
ament-copyright==0.17.3
ros2component==0.32.6
rosidl-typesupport-c==3.2.2
rosidl-typesupport-fastrtps-c==3.6.2
rosidl-typesupport-cpp==3.2.2
generate-parameter-library-py==0.5.0
controller-manager-msgs==4.39.2
pal-statistics-msgs==2.7.0
rcl-interfaces==2.0.3
interactive-markers==2.5.5
urdfdom-py==1.2.1
composition-interfaces==2.0.3
launch==3.4.9
lifecycle-msgs==2.0.3
ament-flake8==0.17.3
geometry-msgs==5.3.6
ament-package==0.16.4
moveit==2.12.3
ros2launch==0.26.10
rosidl-cli==4.6.6
tf2-py==0.36.16
rosidl-generator-c==4.6.6
xacro==2.1.1
topic-tools==1.3.3
sros2==0.13.4
std-srvs==5.3.6
object-recognition-msgs==2.0.0
rosidl-generator-py==0.22.2
cv-bridge==4.1.0
numpy==1.26.4
argcomplete==3.6.3
websockets==15.0.1
hf-xet==1.1.10
colorama==0.4.6
docutils==0.22
annotated-types==0.7.0
omegaconf==2.3.0
numexpr==2.14.1
prometheus_client==0.23.1
torchrl==0.10.1
ptyprocess==0.7.0
packaging==25.0
psutil==7.1.1
uri-template==1.3.0
torchvision==0.24.0+cu128
pydantic_core==2.33.2
cfgv==3.5.0
onnxscript==0.5.6
distlib==0.4.0
tqdm==4.67.1
importlib_metadata==8.7.0
async-lru==2.0.5
pure_eval==0.2.3
triton==3.5.0
boto3==1.34.162
kneed==0.8.5
xformers==0.0.33.post1
charset-normalizer==3.4.3
Send2Trash==1.8.3
debugpy==1.8.17
proglog==0.1.12
nvidia-ml-py==13.590.44
beautifulsoup4==4.14.2
executing==2.2.1
PyOpenGL==3.1.10
ml_dtypes==0.5.4
typing_extensions==4.15.0
jupyter_core==5.9.1
ipython==9.5.0
six==1.17.0
opencv-python==4.9.0.80
gpustat==1.1.1
nvidia-cuda-runtime-cu12==12.8.90
PyQt5==5.15.11
typer==0.20.1
zipp==3.23.0
huggingface-hub==0.35.0
parso==0.8.5
asttokens==3.0.0
platformdirs==4.4.0
tinycss2==1.4.0
lxml==6.0.1
trimesh==4.10.1
imageio-ffmpeg==0.6.0
pyvers==0.1.0
ruamel.yaml.clib==0.2.15
uvicorn==0.29.0
mpmath==1.3.0
pexpect==4.9.0
jupyter-events==0.12.0
evo==1.34.0
nvidia-cusparse-cu12==12.5.8.93
traitlets==5.14.3
ftfy==6.3.1
cycler==0.12.1
moviepy==1.0.3
lime==0.2.0.1
lazy_loader==0.4
contourpy==1.3.3
open3d==0.19.0
isoduration==20.11.0
pillow_heif==1.1.1
nest-asyncio==1.6.0
rpds-py==0.29.0
idna==3.10
nvidia-cusolver-cu12==11.7.3.90
transformers==4.57.3
jupyterlab_pygments==0.3.0
einops==0.8.1
tzdata==2025.2
rosbags==0.11.0
imageio==2.37.0
jsonpointer==3.0.0
virtualenv==20.35.4
webcolors==25.10.0
fastapi==0.110.0
GitPython==3.1.45
ipywidgets==8.1.8
scipy==1.16.2
httptools==0.7.1
nvidia-nvjitlink-cu12==12.8.93
h5py==3.11.0
pycparser==2.23
ruamel.yaml==0.18.17
identify==2.6.15
gpuview==1.1.1
torchdiffeq==0.2.5
seaborn==0.13.2
bleach==6.3.0
depth-anything-3==0.0.0
defusedxml==0.7.1
nvidia-cublas-cu12==12.8.4.1
argon2-cffi-bindings==25.1.0
tensordict==0.10.0
jmespath==1.0.1
httpcore==1.0.9
tokenizers==0.22.1
rfc3987-syntax==1.1.0
jupyter_client==8.6.3
Flask==3.1.2
dm-env==1.6
tornado==6.5.2
antlr4-python3-runtime==4.9.3
pycolmap==3.13.0
pydantic==2.11.9
dash==3.3.0
wandb==0.23.1
nbformat==5.10.4
timm==1.0.20
blessed==1.25.0
mistune==3.1.4
ipykernel==7.1.0
onnx==1.19.1
setuptools==78.1.1
nvidia-cufft-cu12==11.3.3.83
python-dotenv==1.0.0
addict==2.4.0
typing-inspection==0.4.1
matplotlib==3.10.6
threadpoolctl==3.6.0
pre_commit==4.5.1
diffusers==0.35.1
glfw==2.10.0
requests==2.32.5
fonttools==4.59.2
jupyter_server_terminals==0.5.3
mdurl==0.1.2
orjson==3.11.4
jupyterlab_widgets==3.0.16
nvidia-cufile-cu12==1.13.1.3
flow_matching==1.0.10
rich==14.2.0
opt-einsum-fx==0.1.4
ConfigArgParse==1.7.1
attrs==25.3.0
comm==0.2.3
terminado==0.18.1
fsspec==2025.9.0
notebook==7.4.7
MarkupSafe==3.0.2
itsdangerous==2.2.0
jupyter==1.1.1
ipython_pygments_lexers==1.1.1
bottle==0.13.4
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
filelock==3.19.1
botocore==1.34.162
jsonschema-specifications==2025.9.1
nvidia-cudnn-cu12==9.10.2.21
widgetsnbextension==4.0.15
jupyterlab_server==2.28.0
urllib3==2.5.0
natsort==8.4.0
jupyter-console==6.6.3
nvidia-curand-cu12==10.3.9.90
schedulefree==1.4.1
rfc3986-validator==0.1.1
dm-tree==0.1.9
joblib==1.5.2
markdown-it-py==4.0.0
arrow==1.4.0
mujoco==2.3.7
opt_einsum==3.4.0
nbconvert==7.16.6
notebook_shim==0.2.4
PyYAML==6.0.2
lz4==4.4.5
starlette==0.36.3
PyQt5_sip==12.17.1
plotly==6.5.0
python-json-logger==4.0.0
h11==0.16.0
soupsieve==2.8
dm-control==1.0.14
absl-py==2.3.1
pip==25.2
cloudpickle==3.1.2
matplotlib-inline==0.1.7
wheel==0.45.1
scikit-learn==1.7.2
cffi==2.0.0
python-multipart==0.0.9
gitdb==4.0.12
pyparsing==3.2.4
nbclient==0.10.2
rospkg==1.6.0
networkx==3.5
fastjsonschema==2.21.2
jsonschema==4.25.1
torch==2.9.0+cu128
jupyter-lsp==2.3.0
plyfile==1.1.3
accelerate==1.12.0
Pygments==2.19.2
PyQt5-Qt5==5.15.17
anyio==4.11.0
kiwisolver==1.4.9
referencing==0.37.0
fqdn==1.5.1
blinker==1.9.0
safetensors==0.6.2
babel==2.17.0
wrapt==1.17.3
jupyterlab==4.4.10
lark==1.3.1
regex==2025.9.1
pytz==2025.2
s3transfer==0.10.4
pandas==2.3.3
sniffio==1.3.1
watchfiles==1.1.1
sympy==1.14.0
Werkzeug==3.1.4
pyquaternion==0.9.9
websocket-client==1.9.0
jupyter_server==2.17.0
protobuf==6.32.1
prompt_toolkit==3.0.52
distro==1.9.0
nvidia-cusparselt-cu12==0.7.1
json5==0.12.1
ollama==0.6.0
webencodings==0.5.1
nodeenv==1.10.0
onnx-ir==0.1.12
pandocfilters==1.5.1
zstandard==0.25.0
click==8.3.1
pyzmq==27.1.0
open_clip_torch==3.2.0
nvidia-cuda-cupti-cu12==12.8.90
wcwidth==0.2.13
catkin-pkg==1.1.0
tifffile==2025.10.16
overrides==7.7.0
argon2-cffi==25.1.0
retrying==1.4.2
pillow==12.0.0
narwhals==2.14.0
shellingham==1.5.4
decorator==4.4.2
scikit-image==0.25.2
e3nn==0.5.9
labmaze==1.0.6
rfc3339-validator==0.1.4
nvidia-nccl-cu12==2.27.5
Jinja2==3.1.6
nvidia-nvshmem-cu12==3.3.20
certifi==2025.8.3
sentry-sdk==2.38.0
python-dateutil==2.9.0.post0
httpx==0.28.1
smmap==5.0.2
stack-data==0.6.3
jedi==0.19.2
uvloop==0.22.1
